@model SideContentModel

<div style="padding-top:10px;">
    <div style="position: relative">
        <div style="position: absolute;width: 100%; text-align: center; left: 0px; bottom: 50px; font-size: 9pt; color: #540b1c;">
            <div style="">
                HEURES ET SERVICES
            </div>

            @foreach (var service in Model.Services)
            {
                <div style="">
                    @Html.Raw(service.ToHtmlString())
                </div>
            }
        </div>

        <img src="~/images/osan2.jpg" style="width: 100%; border-top-left-radius: 10px;border-top-right-radius: 10px; border: 1px solid #e1bbc5;" />
        <div style="border: 1px solid #e1bbc5;border-bottom-left-radius: 10px;border-bottom-right-radius: 10px; padding: 10px; background-color: #ffeccc;border-top-width: 0px;">
            <a href="/reservation" class="osan-btn">Réserver une table</a>
        </div>
    </div>     

    <div>
        <img src="~/images/livraison2.jpg" style="width: 100%; border-top-left-radius: 10px;border-top-right-radius: 10px; border: 1px solid #e1bbc5; margin-top: 15px;" />
        <div style="border: 1px solid #e1bbc5;border-bottom-left-radius: 10px;border-bottom-right-radius: 10px; padding: 10px; background-color: #ffeccc;border-top-width: 0px;">
            <a href="/livraison" class="osan-btn">Se faire livrer</a>
        </div>
    </div>

    @if (Model.NextEvent != null)
    {
        <div style="font-size: 10pt;margin-top: 15px;">
            <span class="fa fa-chevron-right"></span> PROCHAIN ÉVÈNEMENT
        </div>

        <div class="show-box-sm">
            <img src="@Model.NextEvent.GetImageUrl()" style="width:100%" />
            <div style="margin: 5px 0px;">
                <div class="show-box-title"><a href="@Model.NextEvent.GetUrl()" class="osan-link">@Model.NextEvent.Title</a></div>
                <div class="show-box-time">@Model.NextEvent.Date.ToString("dd/MM/yyyy") - @Model.NextEvent.Service.Name</div>
            </div>
        </div>

        <a href="/?feed=calendar" class="osan-btn">Voir le calendrier</a>

        <br />
    }
</div>
