@page "{feed?}"
@model IndexModel
@{
    ViewData["Title"] = "";
}

@section coolheader {
    <div class="slide-show" style="">
        @foreach (var slide in Model.SlideShow.Pictures)
        {
            <partial name="_SlideItem" model=@slide />
        }
    </div>
}

<div style="font-size: 10pt;">
    <div style="text-align:center;display:flex;align-items:center;justify-content:center;">
        <img src="/images/logo-o.png" style="height: 16px;display:inline;" /> <span style="font-size:10pt;color: #ba425e; font-weight:bold; margin-left: 10px;">CAVE À VIN . RESTAURANT . PIANO BAR</span>
    </div>

    <div style="text-align:center;">
        Vous pouvez <a href="/reservation" class="osan-link" style="display:inline">réserver une table</a> ou <a href="/livraison" class="osan-link" style="display:inline">vous faire livrer</a>.
    </div>

    <br />

    <p>
        Ne manquez pas nos soirées <strong>Piano Bar</strong>, il y en a déjà eu pas mal (<a href="/?feed=archived" class="osan-link" style="display:inline">archives</a>). Abonnez-vous sur nos pages <strong>Facebook</strong>, <strong>Instagram</strong>, et <strong>Twitter</strong> et restez connectés à notre
        <a href="/?feed=calendar" class="osan-link" style="display:inline">calendrier</a>. N'hésitez pas à nous contacter pour vos évènements privés.
    </p>

    <p>
        Dans notre rubrique <a href="/?feed=spotlights" class="osan-link" style="display:inline">spotlights</a> vous trouverez des contenus spéciaux, conçus pour partager avez vous notre culture, nos produits, et notre savoir faire.
    </p>
</div>

<div class="mob-only">
    @if (Model.NextEvent != null)
    {
        <div style="background-color:#ffeccc;border-radius: 10px;padding: 10px;">
            <div style="font-size: 10pt;text-align:center">
                PROCHAIN ÉVÈNEMENT
            </div>

            <div class="show-box-sm">
                <img src="@Model.NextEvent.GetImageUrl()" style="width:100%;border-radius: 10px;" />
                <div style="margin-top: 5px; font-size: 9pt;text-align:center;">
                    <div class="show-box-title" style="font-weight:bold;font-size: 11pt;"><a href="@Model.NextEvent.GetUrl()" class="osan-link">@Model.NextEvent.Title</a></div>
                    <div class="show-box-time">@Model.NextEvent.Date.ToString("dd/MM/yyyy") - @Model.NextEvent.Service.Name</div>
                </div>
            </div>
        </div>
    }
</div>

<br />

<div id="feed-header" class="feed-header">
    @if (@Model.Feed == "spotlights")
    {
        <span class="feed-menu">SPOTLIGHTS</span>
    }
    else
    {
        <a href="/?feed=spotlights" class="feed-menu">SPOTLIGHTS</a>
    }

    @if (@Model.Feed == "calendar")
    {
        <span class="feed-menu">CALENDRIER</span>
    }
    else
    {
        <a href="/?feed=calendar" class="feed-menu">CALENDRIER</a>
    }

    @if (@Model.Feed == "archived")
    {
        <span class="feed-menu">ARCHIVES</span>
    }
    else
    {
        <a href="/?feed=archived" class="feed-menu">ARCHIVES</a>
    }
</div>

<br />

<component type="typeof(OsanWebsite.Web.Components.NewsFeed)" param-Feed="@Model.Feed" render-mode="Server" />

@section Scripts {
    <script>
        $(document).ready(function () {
            $('.slide-show').slick({
                dots: true,
                arrows: false,
                autoplay: true,
                autoplaySpeed: 5000,
            });

            setTimeout(() => {
                var feedHeader = document.getElementById("feed-header");
                var sticky = feedHeader.offsetTop;

                function shouldStickFeedHeader() {
                    if (window.pageYOffset > sticky) {
                        feedHeader.classList.add("sticky");
                        document.body.classList.add("sticky-body");
                    } else {
                        feedHeader.classList.remove("sticky");
                        document.body.classList.remove("sticky-body");
                    }
                }

                window.onscroll = function () { shouldStickFeedHeader() };
            }, 3000);
        });
    </script>

    <script src="_framework/blazor.server.js"></script>
}
